@mixin manoj{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    background-color: rgb(214, 74, 121);
    height: 100vh;
    @include manoj();
    .contine{
        background-color: white;
        @include manoj();
        flex-direction: column;
        padding: 0.5rem 2rem;
        border-radius:10px ;
        .manoj{
            display: flex;
            margin: 10px;
            @include manoj();
            padding: 10px;
        }
        h1,h2{
            font-weight: 100;
            @include manoj();
        }
        
        p{
            @include manoj();
            }
        
        .image{
            @include manoj();
            flex-direction: column;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            position: relative;
            right:60px;
            img{
             width: 60px;
             height: 60px;
             border-radius: 50%;
           }
    }
    button{
        width: 100%;
        padding: 10px;
        color: white;
        border: none;
        background-color: rgb(214, 74, 121) ;
    }
}
}